{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Węże i drabiny</h1>
    {% if session["turn"] == 1 %}
        <p class="tura">Gracz 1</p>
    {% elif session["turn"] == 2 %}
        <p class="tura">Gracz 2</p>
    {% endif %}

    <p>Kostki: {{ session["dice"][0], session["dice"][1] }}</p>
    <p>Wybierz pionek, którym chcesz się ruszyć</p>

    <p>Pionek x1: {{ session["player_positions"]["x1"] }}</p>
    <p>Pionek x2: {{ session["player_positions"]["x2"] }}</p>
    <p>Pionek y1: {{ session["player_positions"]["y1"] }}</p>
    <p>Pionek y2: {{ session["player_positions"]["y2"] }}</p>

    {% set board = session["board"] %}
    <table>
    {% set x = namespace(value=0) %}
    {% for i in range(10) %}
        <tr>
        {% for j in range(10) %}
            {% if (board[x.value] == "x1" or board[x.value] == "x2") and session["turn"] == 1 %}
                <td style="background-color: #0099ff"><a href="{{ url_for('move_piece2', active = board[x.value]) }}">{{ board[x.value] }}</a></td>
            {% elif (board[x.value] == "x1" or board[x.value] == "x2") and session["turn"] == 2 %}
                <td style="background-color: #0099ff">{{ board[x.value] }}</td>
            {% elif (board[x.value] == "y1" or board[x.value] == "y2") and session["turn"] == 1 %}
                <td style="background-color: red">{{ board[x.value] }}</td>
            {% elif (board[x.value] == "y1" or board[x.value] == "y2") and session["turn"] == 2 %}
                <td style="background-color: red"><a href="{{ url_for('move_piece2', active = board[x.value]) }}">{{ board[x.value] }}</a></td>
            {% elif board[x.value] == ["x1", "x2", "y1", "y2"] %}
                <td style="background-color: #0099ff"><a href="{{ url_for('move_piece2', active = "x1") }}">{{ board[x.value] }}</a></td>
            {% elif board[x.value]|string in session["snakes_ladders"] %}
                {% if session["snakes_ladders"][x.value|string] > x.value %}
                    <td style="background-color: #5dd55d">{{ board[x.value] }} -> {{ session["snakes_ladders"][x.value|string] }}</td>
                {% else %}
                    <td style="background-color: #ff704d">{{ board[x.value] }} -> {{ session["snakes_ladders"][x.value|string] }}</td>
                {% endif %}
            {% else %}
                <td>{{ board[x.value] }}</td>
            {% endif %}
            {% set x.value = x.value + 1 %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}